Предсказание длинны очереди

У нас есть два типа данных:
Индивидуальные - для каждой секунды
Агреггированные - для каждого 30 минутного отрезка

Сгенерируем первый вариант датасета

Время работы магазина - с 7 часов до 24

Данных сгенерируем одну неделю, по условию, возьмем первую неделю 2018 года.

In [1]:
import numpy as np
import pandas as pd
from tqdm import tqdm

import datetime

In [2]:
# Constants

open_hour = 7
close_hour = 24
open_hours_range = range(open_hour,close_hour)

opening_hours = close_hour-open_hour

chunks_in_hour = 2

day_chunks = opening_hours*chunks_in_hour

In [3]:
# Time parameters

start_date = datetime.date(2018, 1, 1)
end_date = datetime.date(2018, 1, 7)


mu = 0.007


golden_hours = [8, 17, 18, 19, 22]

golden_hours_mu_bonus = 0.003



# Performance parameters
#chunk_clients_mean = 15
#chunk_clients_sd = chunk_clients_mean / 5

individual_serving_time_const = 120
#individual_serving_time_mean = 60
#individual_serving_time_sd = 30

In [4]:
from datetime import time
import datetime
list(open_hours_range)
def day_chunks(open_hours_range = open_hours_range):
    day_chunks = []
    for hour in open_hours_range:
        day_chunks.append(datetime.time(hour, 0))
        day_chunks.append(datetime.time(hour, 30))
    return day_chunks

In [5]:
dates = pd.date_range(start_date, end_date)
pd.Series(dates)

0   2018-01-01
1   2018-01-02
2   2018-01-03
3   2018-01-04
4   2018-01-05
5   2018-01-06
6   2018-01-07
dtype: datetime64[ns]

In [6]:
def plot_order_df(df, plot = False):
    # x = poisson.rvs(mu, loc, size=seconds, random_state=random_state)
    x = df["arrive"]
    if plot == "cdf":
        fig, ax = plt.subplots(1, 1)
        ax.plot(x, poisson.pmf(x, mu), 'bo', ms=8, label='poisson pmf')
        ax.vlines(x, 0, poisson.cdf(x, mu), colors='b', lw=5, alpha=0.5) 
    if plot == "hist":
        plt.hist(x)
    #return x, sum(x)

In [7]:
def generate_order_df(mu = 0.007, loc = 0, seconds = 60*30, random_state = None, dropna = False):
    from scipy.stats import poisson
    x = poisson.rvs(mu, loc, size=seconds, random_state=random_state)

    chunk_df = pd.DataFrame({"arrive": x, "queued": np.NaN, "number_in_queue": np.NaN, "waiting_in_queue": np.NaN, "serving_time": np.NaN})
    queued = 0
    queued_time_to_wait = 0
    import collections
    order = collections.deque()
    for i, row in chunk_df.iterrows():
        if row["arrive"]:
            chunk_df.at[i,'waiting_in_queue'] = queued_time_to_wait
            chunk_df.at[i,"serving_time"] = individual_serving_time_const + queued_time_to_wait

            queued_time_to_wait += row["arrive"]*individual_serving_time_const
            order.append([i,row])
            if len(order) > 1:
                queued = 1
            else:
                queued = 0
            chunk_df.at[i,'queued'] = queued        

        
        chunk_df.at[i,'number_in_queue'] = len(order)

            
        if queued_time_to_wait > 0:
            queued_time_to_wait += -1
        if queued_time_to_wait == 0:
            order.clear()
    if dropna:
        chunk_df.dropna(thresh=2, inplace=True)
    return chunk_df
#df = pd.DataFrame({'B': [0, 1, 0, 1, 1]})    
#chunk_df["arrive"].rolling(120).sum()
#df.rolling(2, win_type='triang').sum()

In [8]:
def generate_chunk_parameters(chunk_time = None, mu = 0.007, loc = 0, seconds = 60*30, random_state=None):   
    gen = generate_order_df(mu = mu , loc = loc, random_state = random_state)
    clients_count = gen.query("arrive > 0").describe()["arrive"]["count"]
    queue_length_mean = gen.describe()["number_in_queue"]["mean"]
    queue_length_sd = gen.describe()["number_in_queue"]["std"]
    serving_time_mean = gen.query("arrive > 0").describe()["serving_time"]["mean"]
    serving_time_sd = gen.query("arrive > 0").describe()["serving_time"]["std"]
    df = pd.DataFrame()
    df = df.append({
            "time": chunk_time
            , "clients_count": clients_count
            , "queue_length_mean": queue_length_mean
            , "queue_length_sd": queue_length_sd
            , "serving_time_mean": serving_time_mean
            , "serving_time_sd": serving_time_sd
        }, ignore_index=True) 
    return df

In [9]:
# generate_order_df(mu = 0.003, loc = 0, seconds = 60*30, random_state=None)

generate_chunk_parameters()

,clients_count,queue_length_mean,queue_length_sd,serving_time_mean,serving_time_sd,time
0,12.0,1.642222,2.077379,193.666667,103.066028,NaN

In [10]:
def generate_dataset(random_state="timestamp"):
    
    global mu
    
    from joblib import Parallel, delayed
    import multiprocessing  
    from tqdm import tqdm, tqdm_notebook

    dataset = pd.DataFrame()
    chunks = []
    for date in dates:
        for chunk_time in day_chunks():
            chunk_datetime = datetime.datetime.combine(date, chunk_time)
            if chunk_datetime.hour in golden_hours:
                # print("! Golden hour %s" % chunk_datetime.hour)
                chunk_mu = mu + golden_hours_mu_bonus
            else:
                chunk_mu = mu
            chunks.append({"datetime": chunk_datetime, "mu": chunk_mu})

    for chunk in tqdm_notebook(chunks):
        if random_state == "timestamp":
            random_state = np.random.RandomState(int(chunk.get("datetime").timestamp()))
        row = generate_chunk_parameters(chunk_time=chunk.get("datetime"), mu=chunk.get("mu"), random_state=random_state)
        dataset = dataset.append(row, ignore_index=True)
    return dataset

In [11]:
int(datetime.datetime(2018, 1, 1, 7, 0).timestamp())

1514779200

In [12]:
import os.path
filename =  "data_processed.csv"
def get_or_create(filename, generate_dataset_function, recreate=True):
    if filename.endswith('.gz'):
        compression = 'gzip'
    elif filename.endswith('.csv'):
        compression = None
    else:
        raise AttributeError("Check filename")
    
    if not os.path.exists(filename) or recreate:
        df = generate_dataset_function()
        df.to_csv(filename, compression=compression)
    else:
        df = pd.read_csv(filename, compression=compression)
        df.drop(columns=["Unnamed: 0"], inplace=True)
    return df

In [13]:
#mu = 0.007
#golden_hours_mu_bonus = 0.003

In [14]:
get_or_create(filename, generate_dataset, recreate=True)

HBox(children=(IntProgress(value=0, max=238), HTML(value='')))

/usr/local/lib/python3.6/site-packages/tqdm/_monitor.py:89: TqdmSynchronisationWarning: Set changed size during iteration (see https://github.com/tqdm/tqdm/issues/481)
  TqdmSynchronisationWarning)

,clients_count,queue_length_mean,queue_length_sd,serving_time_mean,serving_time_sd,time
0,5.0,0.438889,0.681396,160.400000,90.337146,2018-01-01 07:00:00
1,10.0,1.572778,1.589723,173.100000,61.826729,2018-01-01 07:30:00
2,16.0,5.877778,4.343832,299.000000,110.839824,2018-01-01 08:00:00
3,17.0,7.252222,5.080425,358.470588,138.756584,2018-01-01 08:30:00
4,6.0,0.627222,0.968333,138.500000,30.716445,2018-01-01 09:00:00
5,10.0,1.331111,1.413557,160.400000,64.806035,2018-01-01 09:30:00
6,13.0,7.928333,4.548776,377.769231,129.370369,2018-01-01 10:00:00
7,15.0,3.563333,3.370142,256.000000,117.438738,2018-01-01 10:30:00
8,13.0,1.913889,2.142460,201.615385,86.793374,2018-01-01 11:00:00
9,8.0,0.811667,0.968416,137.625000,33.542883,2018-01-01 11:30:00
10,16.0,3.391111,2.194371,251.875000,108.525803,2018-01-01 12:00:00
11,12.0,4.083333,3.113518,222.500000,100.712462,2018-01-01 12:30:00
12,11.0,3.943889,3.652295,261.636364,121.702319,2018-01-01 13:00:00
13,6.0,0.487778,0.727347,137.333333,31.822424,2018-01-01 13:30:00
14,11.0,3.043333,2.794482,210.000000,77.476448,2018-01-01 14:00:00
15,11.0,2.178333,2.564104,266.000000,147.393351,2018-01-01 14:30:00
16,15.0,7.362222,5.347919,507.466667,200.149182,2018-01-01 15:00:00
17,11.0,1.229444,1.175117,159.727273,59.788111,2018-01-01 15:30:00
18,16.0,3.009444,2.643002,265.250000,137.932109,2018-01-01 16:00:00
19,8.0,0.727222,0.977531,141.875000,34.597430,2018-01-01 16:30:00
20,15.0,9.692222,4.127855,346.066667,128.197095,2018-01-01 17:00:00
21,17.0,8.413889,4.700399,386.411765,165.291053,2018-01-01 17:30:00
22,20.0,12.491667,6.011841,615.250000,261.753776,2018-01-01 18:00:00
23,22.0,11.322778,7.200514,731.681818,365.062341,2018-01-01 18:30:00
24,13.0,2.590000,1.952667,183.230769,69.548729,2018-01-01 19:00:00
25,14.0,2.875000,3.156196,316.785714,169.663549,2018-01-01 19:30:00
26,12.0,3.792222,3.391967,218.083333,92.826777,2018-01-01 20:00:00
27,10.0,1.668889,1.687784,162.600000,49.410300,2018-01-01 20:30:00
28,11.0,1.745556,1.624826,147.000000,42.061859,2018-01-01 21:00:00
29,11.0,1.964444,2.031947,206.909091,83.832517,2018-01-01 21:30:00
...,...,...,...,...,...,...
208,10.0,1.941111,1.986860,227.000000,100.396990,2018-01-07 09:00:00
209,10.0,1.397222,2.346213,303.500000,163.451828,2018-01-07 09:30:00
210,15.0,6.720556,3.817577,277.600000,134.044129,2018-01-07 10:00:00
211,13.0,2.881667,2.061828,168.692308,49.010857,2018-01-07 10:30:00
212,14.0,3.204444,3.249215,295.571429,148.775884,2018-01-07 11:00:00
213,11.0,2.262778,2.163766,198.181818,68.240484,2018-01-07 11:30:00
214,13.0,3.553889,3.264577,179.461538,72.683808,2018-01-07 12:00:00
215,7.0,0.702778,0.975516,139.142857,33.543149,2018-01-07 12:30:00
216,9.0,0.932778,1.015408,140.333333,38.003289,2018-01-07 13:00:00
217,6.0,0.343889,0.475137,120.000000,0.000000,2018-01-07 13:30:00
218,10.0,2.194444,2.205650,203.000000,81.182921,2018-01-07 14:00:00
219,12.0,1.825556,1.269916,153.833333,40.171979,2018-01-07 14:30:00
220,7.0,0.806111,0.949337,164.285714,55.391679,2018-01-07 15:00:00
221,13.0,2.815000,1.992955,245.307692,102.366486,2018-01-07 15:30:00
222,16.0,8.807778,4.923060,373.875000,136.727893,2018-01-07 16:00:00
223,10.0,1.332222,1.327716,137.100000,31.149996,2018-01-07 16:30:00
224,15.0,2.623889,2.599693,300.466667,191.897244,2018-01-07 17:00:00
225,21.0,10.580000,5.873811,561.857143,212.311866,2018-01-07 17:30:00
226,16.0,8.040556,4.306235,340.187500,154.962025,2018-01-07 18:00:00
227,16.0,5.870556,4.296594,355.750000,154.471788,2018-01-07 18:30:00
228,14.0,4.898333,4.682967,486.928571,188.482386,2018-01-07 19:00:00
229,14.0,2.247222,1.882453,237.071429,101.140773,2018-01-07 19:30:00
230,12.0,2.332222,2.103668,200.333333,63.657226,2018-01-07 20:00:00
231,14.0,4.055556,2.917662,200.857143,59.883036,2018-01-07 20:30:00
232,15.0,5.430556,2.825804,295.000000,104.670913,2018-01-07 21:00:00
233,13.0,3.345556,2.526465,175.230769,55.068372,2018-01-07 21:30:00
234,18.0,6.758333,5.298635,461.166667,232.068765,2018-01-07 22:00:00
235,18.0,8.837778,4.858912,359.111111,130.702126,2018-01-07 22:30:00
236,7.0,0.714444,0.952812,132.285714,25.144345,2018-01-07 23:00:00
237,10.0,2.526667,2.645512,202.800000,75.359582,2018-01-07 23:30:00